.WeatherApp {
    padding: 0;
}

.WeatherApp .openSourced {
    font-size: 13px;
}

.WeatherApp .openSourced a {
    text-decoration: none;
}

.WeatherApp .container {
    border: 1px solid #dadde1;
    border-radius: 10px;
    margin: 50px auto 25px;
    max-width: 600px;
    padding: 30px;
}

.WeatherApp ul {
    list-style: none;
    padding: 0;
}

.WeatherApp .temperature {
    font-size: 60px;
    font-weight: 600;
    margin: 0 7px;
}

.WeatherApp .units .inactive {
    font-size: 20px;
}

.WeatherApp .units {
    position: relative;
    top: -35px;
    font-size: 25px;
    font-weight: 600;
}

.WeatherApp .units a {
    text-decoration: none;
}

.WeatherApp .SearchBar {
    margin-bottom: 15px;
}